body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	padding-top: 2rem;
	text-align: center;
}



.container {
	width: 1200px;
	margin: 0 auto;
}

.container img {
	max-width: 206px;
	margin: 20px;
	display: inline-block;
}